<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ой, что-то пошло не так!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }

        .error-container {
            margin-top: 100px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        h1 {
            color: #333;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }
    </style>
</head>
<body>
<div class="error-container">
    <h1>Ой, что-то пошло не так!</h1>
    <p>К сожалению, произошла ошибка</p>
    <a href="/">Вернуться на главную страницу</a>
</div>
</body>
</html>