<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переводчик</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center">Переводчик</h1>
    <div class="card w-50">
        <div class="card-body">
            <form id="translator-form" method="get" action="/translated">
                <div class="form-group">
                    <label for="sourceLanguage">Исходный язык</label>
                    <select class="form-control" id="sourceLanguage" name="sourceLanguage">
                        <option th:each="lang : ${languages}"
                                th:text="${lang.getLanguage()}"
                                th:value="${lang.getCode()}"
                                th:selected="${lang.name() == 'RUSSIAN'}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="targetLanguage">Язык перевода</label>
                    <select class="form-control" id="targetLanguage" name="targetLanguage">
                        <option th:each="lang : ${languages}"
                                th:text="${lang.getLanguage()}"
                                th:value="${lang.getCode()}"
                                th:selected="${lang.name() == 'ENGLISH'}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="textInput">Введите текст</label>
                    <textarea class="form-control" id="textInput" rows="5" name="textForTranslation" th:text="${sourceText}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Перевести</button>
            </form>
        </div>
    </div>
    <div class="mt-4 w-50">
        <h3 class="d-flex justify-content-center align-items-center">Переведенный текст</h3>
        <div id="translatedText" class="border p-3 " th:text="${translatedText}"></div>
    </div>
</div>
</body>
</html>
